.single-doctors .dc-innerbanner-holder {
  display: none;
}

.single-doctors .dc-breadcrumbarea + .dc-main,
.single-doctors .dc-main {
  padding: 0;
}

.single-doctors .dc-wrapper {
  overflow-x: inherit;
}

.single-doctors .widget_text .textwidget {
  background: none;
}

.single-doctors .dc-main {
  background-color: #e5f0fe;
  padding-top: 0 !important;
}

.single-doctors .dc-parent-section {
  background-color: #e5f0fe;
}

.single-doctors .dc-breadcrumbarea {
  display: none;
}

.single-doctors .dc-icon--small {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: baseline;
}

.single-doctors .dc-card-holder {
  background-color: #fff;
  border-radius: 6px;
  padding: 40px 20px;
  margin: 20px 0;
}

.single-doctors .dc-card-holder:first-child {
  margin-top: 40px;
}

.single-doctors .dc-card-holder p,
.single-doctors .dc-card-holder .dc-description p {
  font-family: "Circular-book";
  font-size: 15px;
  color: #818181;
  line-height: 22px;
  word-break: break-all;
}

.single-doctors .dc-card-holder .dc-aboutinfo,
.single-doctors .dc-card-holder .dc-infotitle,
.single-doctors .dc-card-holder .dc-specializationslist,
.single-doctors .dc-card-holder .dc-description {
  float: none;
}

.single-doctors .dc-card-holder h3,
.single-doctors .dc-card-holder h4 {
  font-family: "Circular-medium";
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #251f71;
}

.single-doctors .dc-card-holder h4 {
  font-size: 18px;
  font-weight: 500;
}

.single-doctors .dc-card-holder .dc-specializations.dc-aboutinfo {
  margin-bottom: 10px;
}

.single-doctors .dc-card-holder .dc-specializations h3 {
  margin-top: 30px;
}

.single-doctors .dc-card-holder .dc-specializations h4 {
  display: inline-block;
}

.single-doctors .dc-card-holder .dc-specializations .dc-specializationslist {
  position: relative;
  list-style: none;
  top: 4px;
}

.single-doctors .dc-card-holder .dc-specializations .dc-specializationslist li {
  display: inline-block;
  float: none;
  width: auto;
}

.single-doctors .dc-card-holder .dc-specializations .dc-specializationslist li:before {
  background: none;
}

.single-doctors .dc-searchresult-head,
.single-doctors .dc-title,
.single-doctors .dc-consultation,
.single-doctors .dc-emptydata,
.single-doctors .dc-emptydata-holder,
.single-doctors .dc-consultation-content,
.single-doctors .dc-searchresult-holder,
.single-doctors .dc-searchresult-grid,
.single-doctors .dc-accordion,
.single-doctors .dc-articleimg,
.single-doctors .dc-article,
.single-doctors .dc-articleslist-content,
.single-doctors .dc-articles,
.single-doctors .dc-contentdoctab,
.single-doctors .dc-panel,
.single-doctors .dc-paneltitle,
.single-doctors .dc-panelcontent {
  float: none;
}

.single-doctors .dc-docsingle-content {
  min-height: auto;
}

.single-doctors .dc-docsingle-content .dc-title {
  -webkit-transition: margin ease-in-out 0.3s;
  transition: margin ease-in-out 0.3s;
}

.single-doctors .dc-docsingle-content .dc-title h2 {
  font-family: "Circular-medium";
  -webkit-transition: font-size ease-in-out 0.3s;
  transition: font-size ease-in-out 0.3s;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #251f71;
  margin: 0;
}

.single-doctors .dc-docsingle-content .dc-title h2 a {
  color: #251f71;
  max-width: initial;
  overflow: initial;
  white-space: nowrap;
}

.single-doctors .dc-docsingle-content .dc-title .dc-docinfo {
  float: none;
}

.single-doctors .dc-docsingle-content .dc-title .dc-docinfo .form-group.dc-formmap,
.single-doctors .dc-docsingle-content .dc-title .dc-docinfo small {
  display: none;
}

.single-doctors .dc-docsingle-content .dc-title .dc-docinfo-location {
  color: #251f71;
  font-size: 15px;
  font-family: "Circular-book";
}

.single-doctors .dc-docsingle-content .dc-title .dc-docinfo p {
  margin-bottom: 10px;
}

.dc-docinfo-specialities {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: height ease-in-out 0.3s, opacity ease-in-out 0.3s;
  transition: height ease-in-out 0.3s, opacity ease-in-out 0.3s;
}

.dc-docinfo-specialities .dc-doc-specilities-tag {
  background-color: #e8f2ff;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 0 10px 5px 0;
  font-family: "Circular-book";
  font-size: 14px;
}

.dc-docinfo-specialities .dc-doc-specilities-tag a {
  font-family: "Circular-book";
  font-size: 14px;
}

.dc-docinfo-specialities .dc-doc-specilities-tag--symtomes {
  background-color: #ffdcdc;
}

.dc-docinfo-specialities .dc-doc-specilities-tag a {
  color: #251f71;
}

.dc-docinfo-specialities .dc-doc-specilities-tag br {
  display: none;
}

.dc-docinfo-specialities .dc-doc-specilities-tag i {
  display: none;
}

.dc-docinfo-specialities .dc-doc-specilities-tag .dc-tipso {
  border: none;
  margin: 0;
  padding: 0;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder {
  border: none;
  float: none;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo {
  padding: 0;
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: auto !important;
  max-width: none !important;
  width: 100%;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo .dc-title h3 {
  float: none;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo .dc-title h3 a {
  float: none;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo .dc-docpostimg {
  float: none;
  width: 200px;
  overflow: initial;
  background: none;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo .dc-docpostimg img {
  border-radius: 4px;
  max-width: none;
  float: none;
  width: 200px;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo .camp-check-reference {
  float: none;
  width: auto;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo .dc-docinfo {
  float: none;
  word-break: break-all;
}

.dc-location-holder .dc-searchvlistvtwo .dc-docpostholder .dc-docpostcontent .dc-searchvtwo address {
  display: inline-block;
  font-style: normal;
  color: #251f71;
}

@media only screen and (max-width: 768px) {
  .single-doctors .sticky {
    position: relative;
  }
  .single-doctors .dc-docsingle-header .dc-docsingleimg {
    margin: 0 auto;
  }
  .single-doctors .dc-docsingle-content .dc-docinfo-specialities {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.single-doctors aside {
  position: relative;
  top: -120px;
}

.single-doctors aside .dc-card-holder.cta-sidebar {
  border: 1px solid #e3e3e3;
}

.single-doctors aside .dc-btnarea {
  float: none;
  text-align: center;
}

.single-doctors aside .dc-btnarea .dc-tags-social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-doctors aside .dc-btnarea .dc-btn {
  max-width: 220px;
  border-radius: 40px;
  border: none;
  background-color: #e8f2ff;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Circular-book";
  font-size: 16px;
  color: #251f71;
}

.single-doctors aside .dc-btnarea .dc-btn:hover {
  background-color: #251f71;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.single-doctors aside .dc-dashboardinvocies .dc-docpostimg,
.single-doctors aside .dc-dashboardinvocies .dc-title,
.single-doctors aside .dc-dashboardinvocies .dc-docinfo,
.single-doctors aside .dc-dashboardinvocies h3,
.single-doctors aside .dc-dashboardinvocies a {
  float: none !important;
}

.single-doctors aside .dc-dashboardinvocies h4 {
  font-family: "Circular-medium";
  font-size: 26px;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-card-holder {
  margin-top: 60px;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-card-holder:first-child {
  margin-top: 20px !important;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder {
  overflow: initial;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent {
  overflow: initial;
  display: block;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-title h3 {
  font-family: "Circular-medium";
  color: #251f71;
  font-size: 18px;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-title h3 p,
.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-title h3 a {
  font-family: "Circular-medium";
  color: #251f71;
  font-size: 18px;
  text-decoration: none;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-docinfo {
  font-size: 12px;
  font-family: "Circular-book";
  line-height: 20px;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-docinfo p {
  font-size: 12px;
  font-family: "Circular-book";
  line-height: 20px;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-actions img {
  display: inline-block;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-actions p {
  color: #251f71;
  font-size: 14px;
}

.single-doctors aside .dc-dashboardinvocies .dc-searchresult-list .dc-docpostholder .dc-docpostcontent .dc-docpostimg {
  background-color: #e5f0fe;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 50%;
  border: 20px solid #e5f0fe;
}

.single-doctors .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.single-doctors .sticky .dc-docsingle-header .dc-docsingleimg {
  -webkit-transition: width ease-in-out 0.3s, height ease-in-out 0.3s;
  transition: width ease-in-out 0.3s, height ease-in-out 0.3s;
  width: 50px;
  height: 50px;
}

.single-doctors .sticky .dc-docsingle-header .dc-docsingleimg .dc-featuredtag {
  display: none;
}

.single-doctors .sticky .dc-docsingle-content .dc-docinfo-specialities {
  -webkit-transition: height ease-in-out 0.3s, opacity ease-in-out 0.3s;
  transition: height ease-in-out 0.3s, opacity ease-in-out 0.3s;
  opacity: 0;
  height: 0;
}

.single-doctors .sticky .dc-docsingle-content .dc-title {
  -webkit-transition: margin ease-in-out 0.3s;
  transition: margin ease-in-out 0.3s;
  margin-bottom: 5px;
}

.single-doctors .sticky .dc-docsingle-content .dc-title h2 {
  -webkit-transition: font-size ease-in-out 0.3s, margin ease-in-out 0.3s;
  transition: font-size ease-in-out 0.3s, margin ease-in-out 0.3s;
  font-size: 22px;
  line-height: 22px;
  margin-top: 5px;
}

.single-doctors .dc-header {
  background-color: #fff;
}

.single-doctors .dc-docsingle-header {
  float: none;
  padding-top: 20px;
  margin: 0;
  background-color: #fff;
}

.single-doctors .dc-docsingle-header .dc-docsingleimg {
  -webkit-transition: width ease-in-out 0.3s, height ease-in-out 0.3s;
  transition: width ease-in-out 0.3s, height ease-in-out 0.3s;
  border: none;
  width: 110px;
  height: 110px;
}

.single-doctors .dc-docsingle-header .dc-docsingleimg .dc-ava-detail,
.single-doctors .dc-docsingle-header .dc-docsingleimg .dc-ava-detail-2x {
  border-radius: 50%;
  padding: 0;
}

.single-doctors .dc-docsingle-navholder {
  background-color: #fff;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
}

.single-doctors .dc-docsingle-navholder .navbar-nav .nav-item a {
  border: none;
  font-family: "Circular-medium";
  font-size: 12px;
  color: #94a1b7;
  text-transform: uppercase;
  padding: 0 20px;
}

.single-doctors .dc-docsingle-navholder .navbar-nav .nav-item a.active {
  background: none;
  color: #05a1fb;
  border-bottom: 2px solid #05a1fb;
}

.single-doctors .dc-languagelist,
.single-doctors .dc-kidsfriendly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-doctors .dc-languagelist .dc-specializationslist,
.single-doctors .dc-kidsfriendly .dc-specializationslist {
  width: auto;
}

.single-doctors .dc-languagelist .dc-infotitle,
.single-doctors .dc-kidsfriendly .dc-infotitle {
  width: auto;
  margin-right: 20px;
}

.single-doctors .dc-references .dc-docpostholder {
  border: 1px solid #e3e3e3;
  padding: 20px 40px;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent {
  display: block;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-searchvtwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-title h3,
.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-title a {
  color: #251f71;
  font-size: 22px;
  font-family: "Circular-medium";
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-docinfo p {
  font-size: 12px;
  line-height: 18px;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-actions img {
  display: inline-block;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-actions p {
  color: #251f71;
  font-size: 14px;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-docpostimg {
  width: 100px !important;
  height: 100px !important;
  min-width: 100px;
  border-radius: 50% !important;
  overflow: hidden !important;
  margin-right: 20px;
}

.single-doctors .dc-references .dc-docpostholder .dc-docpostcontent .dc-docpostimg .dc-image-res {
  width: 100px !important;
  height: 100px !important;
}

iframe {
  float: none !important;
}

.dc-docpostholder:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dc-nav {
  font-family: "Circular-book";
}
/*# sourceMappingURL=noos.css.map */