@import "./noos/variables";
@import "./noos/doctorsingle/doctorsingle";
@import "./noos/doctorsingle/sidebar";
@import "./noos/doctorsingle/headerdoctor";
@import "./noos/doctorsingle/userdetails";
@import "./noos/doctorsingle/references";
@import "./noos/doctorsingle/articles";

iframe {
  float: none !important;
}

.dc-docpostholder {
  &:hover {
    box-shadow: none !important;
  }
}

.dc-nav {
  font-family: "Circular-book";
}
